body {
  background: #f9f7fe;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
}

a {
  color: #885df1;
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.search-input {
  background-color: #f9f7fe;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
}

.search-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #885df1;
  color: white;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 5px;
}

main {
  padding: 30px 0;
}

.current-weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.current-weather-city {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
}

.weather-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.weather-details strong {
  color: #f65282;
}

.weather-app-icon {
  display: flex;
}

.emoji {
  width: 88px;
  height: 88px;
}

.current-weather-temperature {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}

.weather-temperature {
  font-size: 80px;
  font-weight: bold;
  line-height: 1;
}

.weather-celsius {
  font-size: 28px;
  position: relative;
  top: 10px;
}

footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 15px;
  color: rgba(39, 33, 66, 0.4);
}
